{% extends "bootstrap/base.html" %}
{% block title %}新規投稿ページ{% endblock %}

{% block content %}
<div class="container">
    <h1>新規投稿</h1>
    <form method="POST">
        <label for="title" class="form-label">タイトル</label>
        <input type="text" name="title" class="form-control">
        <label for="body" class="form-label">内容</label>
        <input type="text" name="body" class="form-control">
        <input type="submit" value="新規登録" class="btn btn-primary">
    </form>
</div>
{% endblock %}